.qrcode-typeName-container {
    gap: 15px;
    padding: 15px 10px 20px;
    border-bottom: var(--divider-border);
}

.qrcode-name-input {
    appearance: none;
    height: 40px;
    border: none;
    border-radius: 5px;
    outline: var(--divider-border);
    width: calc(100% - 200px);
    padding: 0px 10px;
}

.qrcode-name-input:focus {
    outline: 1px solid #002124;
}