.preview {
    grid-column: 4 / 4;
    grid-row: 2 / 4;
    border-left: var(--divider-border);
}

.preview canvas {
    margin: 40px auto 10px;
    padding: 5px;
}

.preview .download {
    height: 40px;
    text-decoration: none;
    color: white;
    margin-top: 20px;
} 

@media (max-width: 900px) {
    .preview {
        grid-row: 3 / 4;
        grid-column: 1 / 5;
        border-top: var(--divider-border);
    }
}