.dashboard {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 4;
    grid-row: 2 / 4;
}

.dashboard h2 {
    font-weight: 500;
    font-size: 20px;
    padding: 12px;
    color: #353333;
}

.dashboard nav {
  padding-left: 15px;
}

@media (max-width: 900px) {
    .dashboard {
        grid-row: 2 / 3;
        grid-column: 1 / 5;
    }
}